body{
    margin: 0;
    padding-top: 800px;
}
.profile{
width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: azure;
    left: 0;
        right: 0;
    bottom: 0;
        top: 0;
    background: linear-gradient(#2fbdaf 0%,#2f9abd 100%);
    display: table;
        width: 100%;
        height: 100%;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 400;
}
h2{
    font-size: 40px;
    line-height: 1.2;
    font-family: monospace; 
    font-weight: 300;
}
#bio{
    
    padding: 10px;
    text-align: center;
    font-size: 42px;
}
.line{
    height: 6px;
    background-color: cadetblue;
        width: 70px;
    margin-top: 8px;
    margin-right: 20px;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.about{
    display: table-cell;
        position: relative;
    text-align: center;
    vertical-align: middle;
}
.menu{
    list-style: none;
        font-family: 'Roboto Mono', monospace;
    position: absolute;
        top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.links{
    float: left;
    color:darkgoldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: monospace;
    font-size: 20px;
}
.links:hover{
    background-color: darkslateblue;
}
html{
    scroll-behavior: smooth;
}
.article:hover{
    color: firebrick;
}